body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;

}

header{
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: #000000;
    padding: 20px;
    color: #f2f2f2;
}

.logo{
    height: 40px;
}

section{
    flex-direction: column;
}

footer{
    background-color: #f2f2f2;
    padding: 20px;
    font-size: 14px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section{
    margin: 10px;
}

.footer-section h3{
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-section ul{
    list-style: none;
    padding: 0;
}

.footer-section ul li{
    margin-bottom: 5px;
}

.footer-section ul li a{
    text-decoration: none;
    color: #000;
}

.footer-icons{
    display: flex;
    gap: 10px;
    margin: 10px;
}

.footer-icons a img{
    width: 24px;
    height: 24px;
}

.footer-bottom{
    text-align: center;
    margin-top: 20px;
}

.footer-bottom p, .footer-bottom a{
    color: #000;
    text-decoration: none;
}